


<script src="https://crazylatchdisturbance.com/32/64/23/3264234363806ec0e893348dd95de423.js"></script>
<script src="https://crazylatchdisturbance.com/a8/e8/80/a8e880a19d85a10b34fa0aa148d81dfa.js"></script>
<script src="https://crazylatchdisturbance.com/b0/4c/e4/b04ce41a1d7859a8595c24882884ebc3.js"></script>
<script src="https://crazylatchdisturbance.com/c9/bf/66/c9bf66d6e91c73de68101f4a5a28fd82.js"></script>
<script src="https://crazylatchdisturbance.com/4d/3b/2f/4d3b2f5c1c9ec9c3177bd395ec59f5fb.js"></script>
<script src="https://crazylatchdisturbance.com/fc/25/d9/fc25d911fbee00957b924f3f48c4c58c.js"></script>
<script src="https://crazylatchdisturbance.com/fc/1f/41/fc1f414371b3b98828f470de76b72714.js"></script>
<script src="https://crazylatchdisturbance.com/e7/fb/f2/e7fbf24cc7fecd03b6e98719b19e225b.js"></script>
<script src="https://crazylatchdisturbance.com/5c/94/27/5c9427ef446b0fed6096c80159d5dc56.js"></script><script src="https://crazylatchdisturbance.com/4d/2d/b3/4d2db33c5702ad73029bfb36f90f5ef8.js"></script>
<script src="https://crazylatchdisturbance.com/4c/cb/43/4ccb43cbde27c2c051e70024585c39a2.js"></script>
<script src="https://crazylatchdisturbance.com/f0/2c/56/f02c56e686c4ea260c2df03ffa138c02.js"></script>
<script src="https://crazylatchdisturbance.com/dc/8f/7c/dc8f7c8babb4d7dbfa4d45c1f0f401b0.js"></script>
<script src="https://crazylatchdisturbance.com/07/29/de/0729de45fd81c90595ace73217c31510.js"></script>
<script src="https://crazylatchdisturbance.com/34/12/e6/3412e601d01b72d67877f992e8514ac1.js"></script>
<script src="https://crazylatchdisturbance.com/18/ab/12/18ab129b81fa52620e972ed1d5457836.js"></script>
<script src="https://crazylatchdisturbance.com/9a/f4/52/9af45219ac25f6be651d97414055addb.js"></script>

<script src="https://crazylatchdisturbance.com/76/b5/7b/76b57b5d20e22b4f20639393271d9640.js"></script>


<!-- Popup Mailchimp Form dan popunder -->
<div id="popupForm" style="display: none;">
    <div id="mc_embed_shell" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 2px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); z-index: 1000; width: 100%; max-width: 400px;">
        <!-- Close Button -->
        <button id="closePopup" style="position: absolute; top: 10px; right: 10px; background: transparent; border: none; font-size: 20px; cursor: pointer;"><b>&times;</b></button>

        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width: 100%;}
            #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto; margin-right: 10px;}
            #mergeRow-gdpr {margin-top: 20px;}
            #mergeRow-gdpr fieldset label {font-weight: normal;}
            #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
        </style>

        <!-- Form Content -->
        <div id="mc_embed_signup">
            <form action="https://ingganinggra.us22.list-manage.com/subscribe/post?u=59dadf60dfb68894e5ce3f404&amp;id=853bb4cff9&amp;f_id=00b7d5e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll"><br /><b>Subscribe</b>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" />
                    </div>
                    <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                        <div class="content__gdpr">
                            <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                                <label class="checkbox subfield" for="gdpr839">
                                    <input type="checkbox" id="gdpr_839" name="gdpr[839]" class="gdpr" value="Y" />
                                    <span>Email</span>
                                </label>
                            </fieldset>
                        </div>
                        <div class="content__gdprLegal">
                            <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/terms">Learn more</a> about Mailchimp's privacy practices.</p>
                        </div>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input type="text" name="b_59dadf60dfb68894e5ce3f404_853bb4cff9" tabindex="-1" value="" />
                    </div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script type="text/javascript">
            (function($) {
                window.fnames = new Array(); window.ftypes = new Array();
                fnames[0]='EMAIL'; ftypes[0]='email'; fnames[1]='FNAME'; ftypes[1]='text';
                fnames[2]='LNAME'; ftypes[2]='text'; fnames[3]='ADDRESS'; ftypes[3]='address';
                fnames[4]='PHONE'; ftypes[4]='phone'; fnames[5]='BIRTHDAY'; ftypes[5]='birthday';
                fnames[6]='COMPANY'; ftypes[6]='text';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
        </script>
    </div>

    <!-- Background Overlay -->
    <div id="popupOverlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); display: none; z-index: 999;"></div>
</div>

<!-- JavaScript to Show and Hide Popup -->
<script>
    // Show popup function
    function showPopup() {
        document.getElementById("popupForm").style.display = "block";
        document.getElementById("popupOverlay").style.display = "block";
    }

    // Close popup function
    document.getElementById("closePopup").onclick = function() {
        document.getElementById("popupForm").style.display = "none";
        document.getElementById("popupOverlay").style.display = "none";
    }

    // Show popup after delay (e.g., 5 seconds)
    setTimeout(showPopup, 3000);
</script>
<!-- Popup Mailchimp Form dan popunder -->