<script>
(function () {
  const host = location.hostname.toLowerCase();

  const allowedDomains = [
    "admintfusion.my.id",
    "advancedunitconverter.my.id",
    "brandtrailpulse.my.id",
    "freehtmlparser.my.id",
    "glowlinkdrop.my.id",
    "shiftpathnet.my.id",
    "teteh-ingga.my.id",
    "tubesret.my.id",
    "fazri.my.id",
    "xcelebgram.my.id",
    "aqero.my.id",
    "ngaloco.my.id",
    "indoparadise.my.id"
  ];

  if (!allowedDomains.some(domain =>
    host === domain || host.endsWith("." + domain)
  )) {
    return;
  }

  const bear1 = document.createElement("script");
  bear1.src = "https://bearbraid.com/86/78/c3/8678c3dd63b0e909c4cf4bead5479d7b.js";
  bear1.async = true;
  document.head.appendChild(bear1);

  const bear2 = document.createElement("script");
  bear2.src = "https://bearbraid.com/20/50/38/205038db71153686182e3e9e3503640a.js";
  bear2.async = true;
  document.head.appendChild(bear2);

})();
</script>
