<script src="/js/pop.js"></script>

<script>
(function () {
  const host = location.hostname.toLowerCase();

  if (
    !host.endsWith(".github.io") &&
    !host.endsWith(".pages.dev")
  ) {
    return;
  }

  const s = document.createElement("script");
  s.src = "/js/popunder-umum.js";
  document.head.appendChild(s);

})();
</script>




<script>
(function () {
  const host = location.hostname.toLowerCase();

  if (!(host === "aqero.my.id" || host.endsWith(".aqero.my.id"))) {
    return;
  }

  const s = document.createElement("script");
  s.src = "//bdv.bidvertiser.com/BidVertiser.dbm?pid=866758&bid=2106232&fid=2106232";
  s.type = "text/javascript";
  s.setAttribute("data-cfasync", "false");
  document.head.appendChild(s);

})();
</script>

