{% include /ads/verif.html %}

<script>
(function () {
  document.querySelectorAll('link[rel="canonical"]').forEach(el => el.remove());

  const canonical = document.createElement("link");
  canonical.rel = "canonical";
  canonical.href = location.href;

  document.head.appendChild(canonical);
})();
</script>



<!-- popcash veriff all domain -->

<meta name="ppck-ver" content="333d397138e10a4db7dd02e9cacce482" />
<meta name="ppck-ver" content="de113200740d7a64b90e809a1c45877e" />
<meta name="ppck-ver" content="f52aaa7e5c54281ece98ad88102d0284" />
<meta name="ppck-ver" content="e0812c3d074a427e37a555e8b9e7a5ee" />
<meta name="ppck-ver" content="1b83c3fcb612407d097f7eaa08743cf6" />
<meta name="ppck-ver" content="bb0cc8bc89256ced1d116aa797a16a43" />
<meta name="ppck-ver" content="285e7d8ceae7773f518f4d9d96f1c30a" />
<meta name="ppck-ver" content="13c6edb18a072dbd8f678d3b8da25df2" />
<meta name="ppck-ver" content="878b52dd3ca1bd7ac1ce446d40b50aa6" />
<meta name="ppck-ver" content="9c133500226b4aa62a61490d68368c1c" />


