<style>
.spo {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background: #00000f;
  overflow-y: auto;
  z-index: 9999;
  padding: 10px;
  box-sizing: border-box;
}
</style>

<link rel="sitemap" type="application/xml" href="{{ '/sitemap.xml' | absolute_url }}">
<link rel="sitemap" type="application/xml" href="{{ '/sitemap-keywords.xml' | absolute_url }}">
<link rel="sitemap" type="application/xml" href="{{ '/sitemap-labels.xml' | absolute_url }}">
<link rel="sitemap" type="application/xml" href="{{ '/sitemap-tags.xml' | absolute_url }}">
<link rel="sitemap" type="application/xml" href="{{ '/sitemap-categories.xml' | absolute_url }}">

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ '/feed.xml' | absolute_url }}">
